{% if display_form %}
	<form id="commentform" action="#respond" method="post">
        {{ form.as_p }}
        <p>
            <input type="hidden" name="target" value="{{ target }}" />
            <input type="hidden" name="gonzo" value="{{ hash }}" />
            <input type="hidden" name="url" value="{{ object.get_absolute_url }}" />
            <input type="hidden" name="options" value="{{ options }}" />
        </p>
		<p>
            <input id="submit" type="submit" name="post" value="Post comment" />
        </p>
	</form>
{% endif %}
