{% extends "base.html" %}

{% block title %}Latest Entries{% endblock %}
{% block head_extra %}<link href="{% url djog_feed "latest/" %}" title="{{ blog.title }} - Latest Entries" type="application/rss+xml" rel="alternate"/>{% endblock %}
{% block rss %}<a href="{% url djog_feed "latest/" %}">RSS</a>{% endblock %}


{% block content %}
{% load comments %}
{% for entry in latest %}
{% get_free_comment_count for djog.entry entry.pk as comment_count %}
{% include "entry.html" %}
{% endfor %}
{% endblock %}
