{% extends "base.html" %}
{% load djog_utils %}
{% block title %}Search Results for &quot;{{ term|escape }}&quot;{% endblock %}
{% block head_extra %}<link href="{% url djog_feed term|escape|searchify %}" title="{{ blog.title }} - Search Results for &quot;{{ term|escape }}&quot;" type="application/rss+xml" rel="alternate" />{% endblock %}
{% block rss %}<a href="{% url djog_feed term|escape|searchify %}">RSS</a>{% endblock %}

{% block content %}
{% if results %}
{% for entry in results %}
{% show_entry entry %}
{% endfor %}
{% else %}
<div class="post">
	<div class="post_title post_title_alt">
		<h2>No Results for &quot;{{ term|escape }}&quot;</h2>
	</div>
	<div class="clear"></div>
	<div class="entry">
		<p>There were no results for your search, please try again.</p>
	</div>
</div>
{% endif %}
{% endblock %}